<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xml" href="https://abcex.io/telegram-mini-app-swap/vite.svg">
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Telegram Mini Apps</title>
    <link rel="stylesheet" href="/assets/css/index.css">
    <style id="telegram-custom-styles"></style>
</head>

<body>
    <div id="root">
        <div class="Toastify"></div>
        <div class="p-5 min-h-dvh grid bg-bg-primary bg-bg-primary">
            <div class="flex flex-col gap-3">
                <svg onclick="window.location.href='/'" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg"
                    fill="#000000" style="
                width: 24px;
            ">
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                    <g id="SVGRepo_iconCarrier">
                        <path fill="#fff" d="M224 480h640a32 32 0 1 1 0 64H224a32 32 0 0 1 0-64z"></path>
                        <path fill="#fff"
                            d="m237.248 512 265.408 265.344a32 32 0 0 1-45.312 45.312l-288-288a32 32 0 0 1 0-45.312l288-288a32 32 0 1 1 45.312 45.312L237.248 512z">
                        </path>
                    </g>
                </svg>
                <h1 class="text-[27px] leading-8 text-primary font-bold">Адрес офиса</h1>
                <p class="text-[17px] leading-6 text-primary font-normal text-secondary">Будем рады видеть вас в нашем
                    офисе, перед посещением не забудьте создать заявку в мини-приложении.</p>
                <div>
                    <div class="flex gap-3 py-[14px]"><span class="text-[28px] w-[32px]">📍</span>
                        <div class="flex flex-col">
                            <p class="text-[17px] leading-6 text-primary font-normal"><%= address %></p>
                            <p class="text-[15px] leading-[20px] font-normal text-secondary"><%= addressInfo %>
                            </p>
                        </div>
                    </div>
                    <div class="flex gap-3 py-[14px]"><span class="text-[28px] w-[32px]">👨🏻&zwj;💻</span>
                        <div class="flex flex-col">
                            <p class="text-[17px] leading-6 text-primary font-normal"><%= jobTime %></p>
                            <p class="text-[15px] leading-[20px] font-normal text-secondary"><%= jobTimeInfo %>
                            </p>
                        </div>
                    </div>
                    <div class="flex gap-3 py-[14px]"><span class="text-[28px] w-[32px]">🎟️</span>
                        <div class="flex flex-col">
                            <p class="text-[17px] leading-6 text-primary font-normal"><%= reception %></p>
                            <p class="text-[15px] leading-[20px] font-normal text-secondary"><%= receptionInfo %></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script defer=""
        src="https://static.cloudflareinsights.com/beacon.min.js/vcd15cbe7772f49c399c6a5babf22c1241717689176015"
        integrity="sha512-ZpsOmlRQV6y907TI0dKBHq9Md29nnaEIPlkf84rnaERnq6zvWvPUqr2ft8M1aS28oN72PdrCzSjY4U6VaAw1EQ=="
        data-cf-beacon="{&quot;rayId&quot;:&quot;8fe6faa7bcf072c5&quot;,&quot;serverTiming&quot;:{&quot;name&quot;:{&quot;cfExtPri&quot;:true,&quot;cfL4&quot;:true,&quot;cfSpeedBrain&quot;:true,&quot;cfCacheStatus&quot;:true}},&quot;version&quot;:&quot;2024.10.5&quot;,&quot;token&quot;:&quot;5652d555b2cd42218b24bb9bdddf5daa&quot;}"
        crossorigin="anonymous"></script>


</body>

</html>